/* ================= NAVIGATION ================= */

@media screen and (max-width:1200px){

    #desktop-nav{
        display:none;
    }

    #hamburger-nav{
        display:flex;
    }

}

/* ================= SKILLS ================= */

@media screen and (max-width:768px){

    #skills{
        padding:4rem 6%;
    }

    .skills-container{
        grid-template-columns:1fr;
    }

    .skill-card{
        padding:1.5rem;
    }

    .skill-card h2{
        font-size:1.2rem;
    }

    .skill-tags span{
        font-size:.9rem;
    }

}

/* ================= PROJECTS ================= */

@media screen and (max-width:1100px){

    .projects-container{
        grid-template-columns:repeat(2,1fr);
    }

}

@media screen and (max-width:768px){

    .projects-container{
        grid-template-columns:1fr;
    }

    .project-card{
        max-width:420px;
        margin:auto;
    }

}